{% extends 'projects/navbar.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in task_list %}
                            <tr>
                                <td>{{category.name}}</td>
                                <td>{{category.start_date|date:"M d, Y"}}</td>
                                <td>{{category.due_date|date:"M d, Y"}}</td>
                                <td>
                                    {% if category.is_completed %}
                                        <p>Done</p>
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' category.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

            {% else %}
                <p>You have no tasks</p>

            {% endif %}
        </div>
    </main>
{% endblock content %}
